# {
    overflow: hidden;
}

.grid {
    
}

.dino {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0px;
    transform: scaleX(-1);
}

.obstacle {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0px;
}

.obstacle img {
    position: absolute;
    height: 60px;
    bottom: 0px;
    transform: scaleX(-1);
}
